# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
.github/
.gitlab/
.vscode/
bin/
docs/
config/
hack/
helm/
CHANGELOG/
LICENSES/
*debug_bin*
