html[data-theme="light"] {
    --pst-color-primary: blue;
}

html[data-theme="dark"] {
    --pst-color-primary: white;
    --pst-color-navbar-link: #0a507a;
    --pst-color-navbar-link-hover: 255, 255, 255;
    --pst-color-navbar-link-active: 203, 86, 40;
    --pst-color-secondary: #1baee9;
}

.navbar {background-color: #0a507a !important;}
